@media screen and (min-width: 64em) {
  h1,
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  /* Header */

  .header-logo-title {
    display: block;
    font-size: 24px;
    margin-left: 30px;
  }

  /* Main - Hero */

  .main-hero {
    padding: 160px 0 120px;
  }

  .main-hero-highlight {
    width: 70%;
  }
  .main-hero-img {
    width: 30%;
  }
  .main-hero-highlight-links p > br {
    display: inline;
  }

  /* Main - Works */
  .main-works {
    padding: 120px 0;
  }

  .main-works-item {
    margin: 0 -60px 100px;
  }

  .main-works-item-img,
  .main-works-item-text {
    padding: 0 60px;
  }

  .main-works-item-img.primary img {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 15%), 30px 30px 0 #53687e;
  }
  .main-works-item-img.secondary img {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 15%), 30px 30px 0 #6b4e71;
  }

  /* Main - About */

  .main-about {
    padding: 120px 0;
  }
  .main-about-img {
    margin-bottom: 100px;
  }

  .main-about-addition-skills {
    display: flex;
  }

  .main-about-addition-skills ul {
    margin-bottom: 0;
  }

  .main-about-addition-skills ul + ul {
    margin-left: 30px;
  }
  /* Footer */

  .footer {
    padding: 120px 40px;
  }

  .footer-form {
    width: 40%;
  }
  .footer-info {
    width: 60%;
  }

  .footer-info-nav-img {
    width: 110px;
  }
}
