@media screen and (min-width: 48em) {
  h1,
  h2 {
    font-size: 2.25rem;
  }

  h1 {
    margin-bottom: 40px;
  }

  h2 {
    margin-bottom: 60px;
  }

  h2 > i {
    margin-right: 10px;
  }

  /* Resunable Classes */
  .container {
    padding: 0 40px;
  }
  /* Header */
  .header {
    padding: 20px 40px;
  }

  .header-logo img {
    width: 60px;
  }

  .header-nav-menu-item {
    margin-left: 40px;
  }

  .header-nav-menu-item > a {
    font-size: 1.5rem;
  }
  /* Main - Hero */
  .main-hero {
    padding: 140px 0 100px;
  }

  .main-hero-container {
    display: flex;
    align-items: center;
  }

  .main-hero-highlight {
    width: 60%;
  }

  .main-hero-img {
    display: block;
    width: 40%;
    padding-left: 20px;
  }
  .main-hero-img img {
    border-radius: 50%;
  }

  .main-hero-container {
    display: flex;
    align-items: center;
  }
  /* Main - Works */
  .main-works {
    padding: 100px 0;
  }

  .main-works-item {
    display: flex;
    align-items: center;
    margin: 0 -30px 50px;
  }

  .main-works-item:nth-child(2) {
    flex-direction: row-reverse;
  }

  .main-works-item-img,
  .main-works-item-text {
    width: 50%;
    padding: 0 30px;
  }
  /* Main - About */
  .main-about {
    padding: 100px 0;
  }

  .main-about-img .mobile {
    display: none;
  }

  .main-about-img .tablet-and-pc {
    display: block;
    width: 100%;
    margin-bottom: 60px;
  }

  .main-about-container {
    display: flex;
  }

  .main-bout-description,
  .main-about-addition {
    width: 50%;
  }

  .main-bout-description {
    margin-right: 50px;
    margin-bottom: 0;
  }
  /* Footer */
  .footer {
    padding: 100px 0;
  }

  .footer-container {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer-form,
  .footer-info {
    width: 50%;
  }

  .footer-info {
    align-items: flex-start;
    margin-top: 0;
  }

  .footer-form {
    margin: 0px;
  }

  .footer-form-textarea {
    margin-bottom: 30px;
  }

  .footer-info-follow {
    margin-bottom: 140px;
  }

  .footer-info-copy {
    margin-bottom: 0;
  }
}
